body {
    background-color: #B7DDF7;
}

h1 {
    display: flex;
    color:blue;
    justify-content: center;
}
#stevepic{
    display: flex;
    justify-content: center;
}


#steve {
    display:flex;
    width: 80vw;
    height: 45vh;
    justify-content: center;
}

#buttons {
    display: flex;
    padding: 10px;
    justify-content: space-evenly;
    
}

button {
    background-color: #30A5F2;
    
}

button:hover {
    background-color: aliceblue;

}